body {
    background-color: #47856e;
    cursor: url(normal.cur), auto;
}
.nav li{
    float:left;
    width:75px;
    text-align:center;
    color:black;
}
.ul_top{
    list-style: none;
    position: absolute;
    top: 10px;
    left: 1000px;
    animation: toShow 1.5s 0.5s;
    animation-fill-mode: both !important;
    -webkit-animation-fill-mode: both !important;
}
.nav a{
    display:block;
    color:black;
    text-decoration: none;
    width: 80px;
    line-height: 30px;
}
.nav a:hover{
    color:white;
    background:black;
}
h2 {
    color: white;
}
h3{
    color: white;
}
h1{
    color: white;
}
form{
    align-content: center;
}